<div class="my-3">
    <h2>Take,TakeLast and TakeUntil</h2>
    <br>
    <p class="bg-light p-2 border">Random Names:['A','Q','E','R','T','Y','G','H','V','N','B']</p>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex -01 | Take(5)</strong>
            <hr>
            <ul id="elContainer"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex -02 | TakeLast(5)</strong>
            <hr>
            <ul id="elContainer2"></ul>

        </div>
        <div class="col-md-4">
            <strong>Ex -03 | TakeUntil(condition)</strong>
            <hr>
            <ul id="elContainer3"></ul>
        </div>
    </div>
</div>