<div class="my-3">
    <h2>Retry,RetryWhen,Scan and Delay</h2>
    <br>
    <div class="row">
        <div class="col-md-6">
            <table class="table">

                <ng-container *ngFor="let data of users">
                    <tr>
                        <th>Id</th>
                        <td>{{data.id}}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{data.name}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{data.email}}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{data.phone}}</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td>{{data.website}}</td>
                    </tr>
                    <hr>
                </ng-container>
            </table>
        </div>
    </div>
    <button class="btn btn-primary" (click)="fetchDetails()">
        <span *ngIf="fetching" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>    
        {{fetching ? 'Fetching...' : 'Fetch Details'}}
    </button>
    <p>
        Status: <strong [ngClass]="{
            'text-success':status == 'Data Fetched',
            'text-danger':status == 'Problem in Fetching data'
        }">{{status}}</strong>
    </p>
</div>