<div class="ms-5 mt-5 ">
    <h2>List</h2>
    <div class="row">
        <div class="col-md-12">
            <ul class="list">
                <li>
                    <a routerLink="fromEvent">fromevent</a>
                </li>
                <li>
                    <a routerLink="interval">interval</a>
                </li>
                <li>
                    <a routerLink="of-from">of-form</a>
                </li>
                <li>
                    <a routerLink="to-array">to-array</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12 mt-5">
                <ul class="list">
                    <li>
                        <a routerLink="custom">Custom</a>
                    </li>
                    <li>
                        <a routerLink="map">Map</a>
                    </li>
                    <li>
                        <a routerLink="pluck">Pluck</a>
                    </li>
                    <li>
                        <a routerLink="filter">Filter</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-5">
                <ul class="list">
                    <li>
                        <a routerLink="tap">Tap</a>
                    </li>
                    <li>
                        <a routerLink="take">Take</a>
                    </li>
                    <li>
                        <a routerLink="retry">Retry,RetryWhen,Scan and Delay</a>
                    </li>
                    <li>
                        <a routerLink="debounce">DebounceTime & DistinctUntilChanged</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-5">
                <ul class="list">
                    <li>
                        <a routerLink="subject">Subject & BehaviourSubject</a>
                    </li>
                    <!-- <li>
                        <a routerLink="take">Take</a>
                    </li>
                    <li>
                        <a routerLink="retry">Retry,RetryWhen,Scan and Delay</a>
                    </li>
                    <li>
                        <a routerLink="debounce">DebounceTime & DistinctUntilChanged</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>