<div class="ms-5 mt-5 ">
    <h2>Promise</h2>
    <div class="row mt-5">
        <div class="col-md-4">
            <strong>EX-01: With Promise</strong>
            <hr>
            <button class="btn btn-primary" (click)="fetch1()">Buy Laptop</button>
            <hr>
            <div id="result1">{{message}}</div>
        </div>
        <div class="col-md-4">
            <strong>EX-02: With Async/Await</strong>
            <hr>
            <button class="btn btn-primary" (click)="fetch2()">Buy Laptop</button>
            <hr>
            <div id="result1">{{message2}}</div>
        </div>
        <div class="col-md-4">
            <strong>EX-01: With Fetch APi</strong>
            <hr>
            <button class="btn btn-primary" (click)="fetch3()">Buy Laptop</button>
            <hr>
            <div id="result1">{{message3}}</div>
        </div>
    </div>
</div>